---

- name: Setup
  hosts: localhost
  tasks:
    - name: Install base packages
      apt:
        name: "{{ item }}"
        state: present
      become: yes
      with_items:
        - apt-transport-https
        - awscli
        - ca-certificates
        - curl
        - fonts-hack
        - git
        - gnome-tweaks
        - golang
        - htop
        - jq
        - libappindicator1 # dependency for keybase
        - libgconf-2-4 # dependency for keybase
        - lm-sensors
        - notify-osd
        - openjdk-8-jre
        - openjdk-8-jdk
        - openvpn
        - overlay-scrollbar
        - packer
        - pm-utils
        - scala
        - software-properties-common
        - vagrant
        - vim
        - virtualbox
        - zsh
    - name: Set up folders
      file:
        state: directory
        name: "{{ item }}"
      with_items:
        - ~/.config/fusuma
        - ~/.icons
        - ~/.themes
    - name: Add docker repo key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
      become: yes
    - name: Set up Docker repo
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic test
      become: yes
    - name: Install docker
      become: yes
      apt:
        name: docker-ce
        state: present
    - name: Set up startup services
      become: yes
      service:
        name: "{{ item }}"
        state: started
        enabled: yes
      with_items:
        - docker
    - name: Get the username running the deploy
      local_action: command whoami
      register: running_user_cmd
    - name: Set username fact
      set_fact:
        running_user: "{{ running_user_cmd.stdout }}"
    - name: Create docker group
      group:
        name: docker
        state: present
    - name: Add current user to groups
      user:
        name: "{{ running_user }}"
        groups:
          - docker
          - input
        append: yes
      become: yes
    - name: Add sbt repo key
      apt_key:
        keyserver: hkp://keyserver.ubuntu.com:80
        id: 2EE0EA64E40A89B84B2DF73499E82A75642AC823
      become: yes
    - name: Add sbt repo
      apt_repository:
        repo: deb https://dl.bintray.com/sbt/debian /
      become: yes
    - name: Install sbt
      apt:
        name: sbt
        state: present
      become: yes
    - name: Set up .zshrc
      template:
        src: .zshrc.j2
        dest: ~/.zshrc
    - name: Set up file watch limit for vscode
      lineinfile:
        path: /etc/sysctl.conf
        line: fs.inotify.max_user_watches=524288
        regexp: ^fs\.inotify\.max_user_watches=
      become: yes
    - name: Add icon set
      git:
        repo: https://github.com/keeferrourke/la-capitaine-icon-theme.git
        dest: ~/.icons/la-capitaine-icon-theme
    - name: Download OSX themes
      git:
        repo: https://github.com/paullinuxthemer/gnome-osc-themes.git
        dest: /tmp/gnome-osc-themes
    - name: Set up fusuma config
      copy:
        src: fusuma-config.yml
        dest: ~/.config/fusuma/config.yml
    - name: Add OSX Dark theme
      synchronize:
        src: /tmp/gnome-osc-themes/Gnome-OSC-SpaceGrey--2-themes/Gnome-OSC-Space-Grey-(transparent)/
        dest: ~/.themes/Gnome-OSC-Space-Grey-(transparent)
    - name: Add OSX High Sierra theme
      synchronize:
        src: /tmp/gnome-osc-themes/Gnome-OSC-HS--2-themes/Gnome-OSC-HS-(transparent)/
        dest: ~/.themes/Gnome-OSC-HS-(transparent)
    - name: Add OSX High Sierra light theme
      synchronize:
        src: /tmp/gnome-osc-themes/Gnome-OSC-HS-light-menu-- 2-themes/Gnome-OSC-HS-(transparent)-light-menu/
        dest: ~/.themes/Gnome-OSC-HS-(transparent)-light-menu
